{% extends 'base.html' %}
{% block content %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">한 줄 홍보</h1>
        <p class="lead text-muted">우리 동아리를 간단하게 홍보해보세요.</p>
        <p>
          <a href="{% url 'twonew' %}" class="btn btn-primary my-2">글쓰기</a>
        </p>
      </div>
    </section>
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
    {% for twoblog in twoblogs.all %}
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{ twoblog.title }}</strong>
        {{twoblog.summary}}<a href = "{%url 'twodetail' twoblog.id %}">...more</a></p>
      </p>
    </div>
    {%endfor%}    
  </div>


</main>

{% endblock %}